*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --background: rgba(220, 20,125, .3)
}
.header{
    position: fixed;
  width: 100%;
    background-color: var(--background);
    align-content: center;
    padding: 1rem;
}
.logo{
   color: aqua;
   text-align: center;
}
.nav{
    background-color: var(--background);
    position: absolute;
    top: 100%;
    left:0%;
    height: 200vh;
    text-decoration: none;
    
}
.nav li{
   list-style: none;
    padding-top: .5rem ;

}

.content{
display: flex;
background-image: url(./puppie.jpg);
height: 200vh;
}
