.master {
  width: 300px;
  height: 400px;
  position: relative;
  background: #ffffff url('master.jpg') no-repeat center;
  background-size: cover;
  float:right;
 
}
.arrow {
  border: 30px solid transparent;
  border-top-color: var(--background3);
  width: 30px;
  position: absolute;
  top: 100%;
  left: 35%;
}

.TOOLTIP {
  background: var(--background3);
  position: absolute;
  top: -10%;
  left: 50%;
  padding: 0.5rem;
  color: #ffffff;
  width: max-content;
  max-width: 100%;
  border-radius: 0.3rem;
  text-align: center;
  transform: translateX(-50%) translateY(0) scale(0);
  transform-origin: bottom center;
  transition: 1000ms transform;
}

.wolfTestA{
  transform: translateX(-50%) translateY(-70%) scale(1);
      transition: 1000ms transform;
} 


.margin{
  margin: 1rem;

}

.burlywood{
  background-color: burlywood;
}
.greenBorder{
  border: green 3px dashed;

}
.blueBorder{
  border: blue 3px solid;
}
.yellowBorder{
  border: yellow 3px dotted;
}
.redBackground{
  background-color: red;
}
.pinkBackground{
  background-color: pink;
}
.blueBackground{
  background: blue;
}
.yellowBackground{
  background: yellow;
}
.blackBackground{
  background: black;
  color: #ffffff;
}
.whiteBorder{
  border: #ffffff 3px dashed;
}
.redBorder{
  border: red 3px dashed;
}

