.master {
  width: 300px;
  height: 400px;
  position: relative;
  background: #ffffff url('master.jpg') no-repeat center;
  background-size: cover;
}
.arrow {
  border: 30px solid transparent;
  border-top-color: var(--background3);
  width: 30px;
  position: absolute;
  top: 100%;
  left: 35%;
}

.TOOLTIP {
  background: var(--background3);
  position: absolute;
  top: -10%;
  left: 50%;
  padding: 0.5rem;
  color: red;
  width: max-content;
  max-width: 100%;
  border-radius: 0.3rem;
  text-align: center;
  transform: translateX(-50%) translateY(0) scale(0);
  transform-origin: bottom center;
  transition: 1000ms transform;
}

.wolfTestA{
  transform: translateX(-50%) translateY(-70%) scale(1);
      transition: 1000ms transform;
} 

/* ______________________________ */
.master::before,
.master::after {
  --wolf-arrow-size: 20px;
  --scale: 0;

  position: absolute;
  right:-.25rem;
  
  transform: translateX(var(  --translate-x, 0)) scale(var(--scale));
  transition: 1000ms transform ;
  transform-origin:  left;
}
.master::before {
  --translate-x: calc(100% + var(--wolf-arrow-size));
  content: attr(data-popup);
 color: #ffffff;
 padding: .5rem;
 height:  max-content;
 width: 90px;
 max-width: 100%;
 background: var(--background3);
 border-radius: .3rem;
}

.master:hover::before,
.master:hover::after{
  --scale: 1;
}
.master::after{
  --translate-x: calc(+1 * var(--wolf-arrow-size));
  content: '';
  border: var(--wolf-arrow-size) solid transparent;
  border-right-color: var(--background3);
  transform-origin: right;
  top: 6.5%;
}
