*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;

}
:root {
  --background1: rgba(255, 255, 255, 0.5);
  --background2: rgba(255, 255, 255, 0);
}
.header {
  position: fixed;
  width: 100%;
  background-color: var(--background1);
  align-content: center;
  padding: 0.5rem;
  height: 4rem;
}
.logo {
  color: red;
  text-align: center;
}
.nav {
  background-color: var(--background1);
  position: absolute;
  top: 100%;
  left: 0%;
  height: 100vh;
  text-decoration: none;

  transition: transform 0.5s ease-in;
}
.nav-checkbox:checked ~ .nav {
  transform: rotateY(90deg);
  opacity: 0;
}
.nav li {
  list-style: none;
  padding: 0.5rem;
}

.nav-checkbox {
  display: none;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0.5em;
  display: flex;
  height: 100%;
  align-items: center;
}
.nav-span,
.nav-span::after,
.nav-span::before {
  background: black;
  width: 30px;
  height: 2px;
  display: block;
  border-radius: 10%;
}
.nav-span::after,
.nav-span::before {
  content: '';
  position: absolute;
}

.nav-span::before {
  bottom: 25px;
  
}
.nav-span::after {
  top: 25px;
}
.navButton {
  color: black;
}
.wolfgang{
  position:relative;
 
  top: 4rem;
  text-align: center;
}

.content {
  /* position: static; */
  /* display: block;  */
  background-image: url(./wolf.jpg);
background-size:50vw;
  height: 100vh;
}

@media screen and (min-width: 500px) {
  .nav-span {
    display: none;
  }
  .header {
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--background2);
  }

  .logo {
    grid-column: 1/2;
  }

  .nav {
    all: unset;
    grid-column: 2/5;

    position: relative;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navButton::before {
    content: '';
    display: block;
    height: 5px;
    background: red;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 1s ease-in-out;
  }
  .navButton:hover::before {
    transform: scale(1, 1);
    transform-origin: right;
    transition: transform 0.2s ease-in-out;
  }
  .wolfgang{
   
margin-left: 0;   
  }
}

