* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
}
:root {
  --background: rgba(120, 120, 125, 0.4);
}
.header {
  position: fixed;
  width: 100%;
  background-color: var(--background);
  align-content: center;
  padding: 0.5rem;
}
.logo {
  color: aqua;
  text-align: center;
}
.nav {
  background-color: var(--background);
  position: absolute;
  top: 100%;
  left: 0%;
  height: 200vh;
  text-decoration: none;

  backface-visibility: hidden;
  transform: rotateY(0deg);
  opacity: 1;
  transition: transform 1s ease-in, opacity 1s;
}
.nav-checkbox:checked ~ .nav {
  /* display: block;  */
  transform: rotateY(150deg);
  opacity: 0;
}
.nav li {
  list-style: none;
  padding: 0.5rem;
}

.content {
  display: flex;
  background-image: url(./puppie.jpg);
  height: 200vh;
}
.nav-checkbox {
  display: none;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0.5em;
  display: flex;
  height: 100%;
  align-items: center;
}
.nav-span,
.nav-span::after,
.nav-span::before {
  background: whitesmoke;
  width: 40px;
  height: 3px;
  display: block;
  border-radius: 10%;
}
.nav-span::after,
.nav-span::before {
  content: '';
  position: absolute;
}

.nav-span::before {
  top: 15px;
}
.nav-span::after {
  bottom: 15px;
}
.nav-list li a {
  color: black;
  transform: rotate(180deg);

  transition: color 1s, font-size 1s ease;
}
.nav-list li a:hover {
  text-decoration: none;
  font-size: xx-large;
  color: red;
}

@media screen and (min-width: 500px) {
  .nav-span {
    display: none;
  }
  .header {
    display: grid;
    grid-template-columns: 1fr auto minmax(100px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2/3;
    
  }
  
  .nav {
    all: unset;
    grid-column: 3/5;

    position: relative;
  }
  .nav-list {
    display: flex;
    
    flex-flow: row nowrap;
    justify-content: flex-end;
    
  
  }
 
  .nav-list li a{
  
    color: blue;
    text-decoration: none;
  }
  .nav-list li a::before{
    content: "";
    background: red;
   position: absolute;
 top: .2rem;
   width: 3.55em;
   height: .2em;
   text-decoration: none;
   transform: scale(0, 1);
   transition: transform 1s;
  }
  .nav-list li a:hover::before{
    content: "";
    background: red;
   position: absolute;
 top: .2rem;
   width: 3.55em;
   height: .2em;
   text-decoration: none;
   transform: scale(1,1);
   
  }
}

.wolf{
    position: absolute;
    top:50%;
    left:50%;
    font-size: 3rem;
}
.wolf::before{
    content: "WOLFGANG -";
    background: blue;
}


